POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=
PAYLOAD_SECRET=YOUR_SECRET_HERE

DEFAULT_ADMIN_USER_EMAIL=
DEFAULT_ADMIN_USER_PASSWORD=
DEFAULT_GUEST_USER_EMAIL=
DEFAULT_GUEST_USER_PASSWORD=

ENABLE_LANDING_PAGE=

NEXT_PUBLIC_SITE_URL=
